{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


{# <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{asset('img/Watchmen_Smiley.svg.png')}}" class="d-block w-30" alt="..." >
    </div>
    <div class="carousel-item">
      <img src="{{asset('img/Smiley.png')}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{asset('img/Watchmen_Smiley.svg.png')}}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> #}

<div id="bg">
<div class="container text-center bg-white">
    <div class="row mx-auto my-auto justify-content-center">
    
 <div class="col-md-3 ">
                        <div class="card border-0 bg-transparent" >
                            <div class="card-img">
                                <img src="{{asset('img/Smiley.png')}}" height="800px" class="img-fluid vitrine">
                            </div>
                            <div class="card-img-overlay">Slide 1</div>
                        </div>
                    </div> 

 <div class="col-md-3 ">
                        <div class="card border-0 bg-transparent" >
                            <div class="card-img">
                                <img src="{{asset('img/DrCard.png')}}" class="img-fluid vitrine">
                            </div>
                            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                            <h5 class="card-title ">Card title</h5>
                            </div>
                        </div>
                    </div>

<div class="card col-md-3 border-0 " style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div class="card col-md-3 border-0 " style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>


        <div id="recipeCarousel" class="carousel slide" {#data-bs-ride="carousel"  cela sert a activer un défilement auto du carousel#}>
            <div class="carousel-inner" role="listbox" >
                <div class="carousel-item active">
                    <div class="col-md-3">
                        <div class="card border-0 bg-transparent" >
                            <div class="card-img">
                                <img src="{{asset('img/Smiley.png')}}" class="img-fluid sli">
                            </div>
                            <div class="card-img-overlay">Slide 1</div>
                        </div>
                    </div> 
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card border-0 bg-transparent" >
                            <div class="card-img">
                                <img src="{{asset('img/DrCard.png')}}" class="img-fluid sli">
                            </div>
                            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">Slide 2</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card border-0 bg-transparent" >
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/7d2?text=3" class="img-fluid sli">
                            </div>
                            <div class="card-img-overlay">Slide 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card border-0 bg-transparent" >
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400?text=4" class="img-fluid sli">
                            </div>
                            <div class="card-img-overlay">Slide 4</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                       <div class="card border-0 bg-transparent" >
                            <div class="card-img" >
                                <img src="{{asset('img/Watchmen_Smiley.svg.png')}}" class="img-fluid sli"  >
                            </div>
                            <div class="card-img-overlay">Slide 5</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card border-0 bg-transparent" >
                            <div class="card-img">
                                <img src="{{asset('img/Rorschach_01_C.jpg')}}" class="img-fluid sli" >
                            </div>
                            <div class="card-img-overlay">Slide 6</div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
</div>

{% endblock %}
